.all-teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #222f3e;
}
.stadium-bg {
  width: 1349px;
  height: 280px;
}
.stadium h2 {
  position: absolute;
  top: 120px;
  left: 550px;
  font-size: 45px;
  color: white;
}
@media (max-width: 1365px) {
  .stadium-bg {
    width: 100%;
    height: 280px;
  }
  .stadium h2 {
    position: absolute;
    top: 80px;
    left: 550px;
  }
  .all-teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1204px) {
  .stadium-bg {
    width: 100%;
    height: 280px;
  }
  .stadium h2 {
    position: absolute;
    top: 80px;
    left: 350px;
  }
  .all-teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: #222f3e;
  }
}
@media (max-width: 992px) {
  .stadium-bg {
    width: 100%;
    height: 230px;
  }
  .stadium h2 {
    position: absolute;
    top: 80px;
    left: 350px;
  }
  .all-teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: #222f3e;
  }
}

@media (max-width: 798px) {
  .stadium-bg {
    width: 100%;
    height: 230px;
  }
  .stadium h2 {
    position: absolute;
    top: 80px;
    left: 170px;
  }
  .all-teams {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    background-color: #222f3e;
  }
}
@media (max-width: 500px) {
  .stadium h2 {
    position: absolute;
    top: 80px;
    left: 100px;
  }
}
